@model IEnumerable<App.Models.ViewModels.ArticleViewModel>

@foreach (var Article in Model)
{
    <tr>
        <td>@Article.Title</td>
        <td>
            <a href="@Url.Action("Details", "Articles", new { area = "", id = Article.Id })"><img src="~/Areas/Administration/Content/img/preview-icon.png" /></a>
            <a href="@Url.Action("Edit", new { @id = Article.Id })"><img src="~/Areas/Administration/Content/img/edit-icon.png" /></a>
            <a onclick="return confirm('Сигурни ли сте, че искате да изтриете?');" href="@Url.Action("Delete", new { @id = Article.Id })"><img src="~/Areas/Administration/Content/img/delete-icon.png" /></a>
        </td>
    </tr>
}