<!DOCTYPE html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<title>App</title>

	@*@Styles.Render("~/bundles/main")*@
	@RenderSection("styles", required: false)

</head>
<body>
	@RenderBody()

	@*@Scripts.Render("~/bundles/mainScripts")*@
	@RenderSection("scripts", required: false)
</body>
</html>
