@model App.Models.InputModels.CreateArticleInputModel
@{
    ViewBag.Title = "Редактиране на Статия";
    ViewBag.FormModeText = "Запази";
    ViewBag.FormMode = "Edit";
}

<div class="container">
    @{Html.RenderPartial("Partials/_CreateEditArticlePartial", Model);}
</div>
