@model IEnumerable<App.Models.ViewModels.ItemViewModel>
@{
    ViewBag.Title = "Index";
}

<div class="breadcrumb breadcrumb-1 pos-center">
    <h1>НАШИТЕ СТАИ</h1>
</div>
<div class="content">
    <!-- Content Section -->
    <div class="container margint60">
        <div class="row">
            @Html.Partial("~/Views/Home/Partials/_HomeFeaturedItems.cshtml", Model)
        </div>
    </div>
</div>