@model App.Models.InputModels.CreateItemInputModel
@{
    ViewBag.Title = "Добавяне на Продукт";
    ViewBag.FormModeText = "Добави";
    ViewBag.FormMode = "Create";
}

<div class="container">
    @{Html.RenderPartial("Partials/_CreateEditItemPartial", Model);}
</div>